<!DOCTYPE html>
<html>
	<head>
		<title>Do Now</title>
	</head>
	<body>
	  <h2>Welcome back! {{ errorMsg }}</h2>
	  <form action="/authenticate/" method="POST">
	    User:<input type="text" name="user">
	    <br>
	    Password:<input type="password" name="pass">
	    <br>
	    <input type="submit" value="Submit">
	  </form>
	  <h4>Don't have an account? Make one!</h4>
	  <form action="/register/" method="POST">
	    User:<input type="text" name="newUser">
	    <br>
	    Password:<input type="password" name="newPass">
	    <br>
	    <input type="submit" value="Register!">
	  </form>
	</body>
</html>
